ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

ion-tab-bar {
  --background: linear-gradient(to bottom, rgb(74, 74, 74), black);
  --border: 1px solid rgba(255, 255, 255, 0.255);
  height: 60px;
}

ion-tab-button {
  --color: rgba(255, 255, 255, 0.5);
  --color-selected: #EFB810;
  --ripple-color: #EFB810;
  transition: color 0.3s ease;

  ion-icon {
    font-size: 22px;
  }

  ion-label {
    font-size: 11px;
    font-weight: 500;
  }

  &.active,
  &:hover {
    --color: #EFB810;
  }

  &.active ion-icon {
    color: #EFB810;
  }
}
