<ion-footer>
  <ion-tab-bar>

    <ion-tab-button routerLink="/home" routerLinkActive="active">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/catalog" routerLinkActive="active">
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/history" routerLinkActive="active">
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>

 

    <ion-tab-button routerLink="/comunity" routerLinkActive="active">
      <ion-icon name="chatbox"></ion-icon>
    </ion-tab-button>

   

  </ion-tab-bar>
</ion-footer>
